**/.idea
**/__pycache__
**/Debug
**/VHDLGenerator
**/phantom/
**/phantom_c/
**/.metadata
**/.jxbrowser.userdata
**/dvt
**/RemoteSystemsTempFiles
**/.settings
PIQUE-Bin-Jar-0.0.1/
PIQUE-Bin-Jar/
.ccsproject
.project
ccs_workspace/.metadata/
/ccs_workspace/phantom_workspace/
*.launch
